
/* At first you need to delete all default margin and padding from body */
*{
    margin: 0;
    padding: 0;
}

/* একটা কন্টেইনার নিয়ে নিলাম যেটা সকল সেকশন গুলার জন্য একটা widht সেট করবে এবং সেই কন্টেন্ট গুলো margin: 0 auto; এর মাধ্যমে মাঝে নিয়ে যাবে ! */
#container{
    /*You need to use width and margin for centertering your website.*/
    width: 1150px;
    margin: 0 auto;
}

body{
    font-family: 'Saira Condensed', sans-serif;
}

/* এভাবে h1 ব্যবহার না করাই ভালো, কেননা তোমার ওয়েবসাইটের প্রতিটি h1 এর সাইয ৫০ পিক্সেল হয়ে যাবে, নির্দিষ্ট করে কল করে ফন্ট সাইজে দেওয়াটা গুড প্র্যাকটিস! */
h1{
    font-size: 50px;
}
.name-highlight{
    color:#E01B53;
}

/* এভাবে না দিয়ে প্রতি সেকশনের জন্য আলাদা আলাদা করে দিবা মারজিন টপ এবং বটম ব্যাবহার করেলে সব থেকে ভালো হবে,

কখনো কোন একটা সেকশনের হাইট অনেক ছোট হয়, সেক্ষেত্রে ওই মাঝের গেপ গুলা চলে আসে!*/
/*
section{
    margin-top:150px;
    padding-bottom: 100px;
}

*/

.top-section{
    padding-top: 150px;
    height: 650px;
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;

    /* background-size: cover; ব্যাকগ্রাউন ইমেজ ব্যবহার করতে চাইলে অনেক ক্ষেত্রেই এটা ব্যবহার করতে হয়!
    Must be.
    */
    background-size: cover;
}



.half-width{
    width: 40%;
    float: left;
    margin-left: 8%;
    padding-left: 2%;
    margin-top: 25px;
    position:center;
}
img{
    width:80%;
}



.top-section p{
    margin-top: 20px;
    margin-bottom: 30px;
}

.hire-button{
    
    padding:10px 20px;
    background-image: linear-gradient( 45deg,  tomato,#E01B53);
    color:white;
    font-weight: 700;
    text-decoration: none;
    border-radius: 7px;
}

/*######### BIOGRAPHY PART START ##########*/

.biography{

    padding-top: 50px;
    height: 600px;
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.biography h2{
    margin-top: 100px;
}
.biography p{
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*######### BIOGRAPHY END ##########*/

/*######### WORK PART START ##########*/
.latest-work{

    padding-top: 50px;
    height: 450px;
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.m{
    text-align: center;
}


.img-latest-work{
    margin-top: 30px;
    width:30%;
    float: right;
    margin-right: 3%;
    
}

.first{
    margin-right: 0;
}

/*######### WORK PART END ##########*/

/*######### CLINT PART START ##########*/

.client{
    padding-top: 50px;
    height: 600px;
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.client .last h1{
    margin-bottom: 50px;
}
.para{
    width:350px;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}
.last{
    text-align: center;
}
.email{
    padding:20px 60px;
    background-image: linear-gradient(50deg, #EB4F90,#ED4B74);
    width:500px;
    margin:0 auto;
    color:white;
    border-radius: 10px;
}



footer p{
    margin-top: 30px;
    text-align: center;
    padding-bottom: 20px;
}